<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:include="header"></div>
<body>
	<div th:include="menu"></div>
	<div class="container">
		<section class="conteneur">
			<ol class="breadcrumb">
				<li><a href="index.html">Accueil</a></li>

			</ol>
			<div class="panel panel-default logo">
				<div class="panel-heading">Bienvenue sur le site,</div>
				<br />
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<ul style="list-style-type: none">
							<li><a href="gererAdherent.html">Gérer les adhérents</a></li>
							<li><a href="gerertournoi.html"> Gérer un tournoi</a></li>
							<li><a href="#">Gérer les entrainements</a></li>
							<li><a href="#">Acceder à la boutique</a></li>
							<li><a href="administrer_droit.html">Administrer le site</a></li>
						</ul>

					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</section>
		<div th:include="footer"></div>
	</div>


	<script src="js/monJs.js"></script>
</body>

</html>
